.gallery {
  background-image: var(--img);
  background-size: cover;
  background-position: var(--bgPos, 'center');
  flex: 1;
  position: relative;
  container-type: size;
}

.lost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'f_zmx';
  .text {
    font-size: 16cqh;
  }
}

.info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 2cqw;
  bottom: 4cqh;
  max-width: 40cqw;
  --fz: calc(min(5cqw, 5cqh));

  .position {
    font-size: calc(var(--fz) * 0.6);
    font-weight: 600;
    color: #fff;
    margin-top: auto;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    &::before {
      position: absolute;
      top: -16px;
      content: '';
      width: 50px;
      height: 8px;
      border-radius: 5px;
      background-color: #fff;
    }
  }

  .latlng {
    font-size: calc(var(--fz) * 0.35);
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .title {
    font-size: calc(var(--fz) * 2.4);
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
  }
  .title2 {
    font-size: calc(var(--fz) * 1.8);
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
  }
  .description {
    line-height: 1.2;
    font-size: calc(var(--fz) * 0.6);
    font-weight: 600;
    color: #fff;
  }
}

.thumbnail {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  --fz: calc(min(0.6cqw, 10cqh));
  --w: calc(min(15cqw, 200px));

  .photo {
    z-index: 1;
    aspect-ratio: 2/3;
    overflow: hidden;
    width: var(--w);
    /* height: 40cqh; */
    border-radius: 10px;
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    padding: 12px;
    position: absolute;
    right: calc(var(--w) * 1.1 * (2 - var(--idx)) + var(--w) / 2);
    cursor: pointer;

    .position {
      font-size: var(--fz);
      font-weight: 600;
      color: #fff;
      margin-top: auto;
      position: relative;
      z-index: 9999;
      &::before {
        position: absolute;
        top: -8px;
        content: '';
        width: 25px;
        height: 4px;
        border-radius: 5px;
        background-color: #fff;
      }
    }
    .title {
      font-weight: 900;
      font-size: calc(var(--fz) * 2);
      color: #fff;
    }
    .title2 {
      font-weight: 900;
      font-size: calc(var(--fz) * 1.4);
      color: #fff;
    }
  }
}
