@import 'tailwindcss';

:root {
  --bg-color: #0e100f;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'f_hyk';
  src: url(/font/Hangyaku.ttf) format('truetype');
}

@font-face {
  font-family: 'f_qkh';
  src: url(/font/ZCOOLQingKeHuangYou-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'f_sc';
  src: url(/font/NotoSerifSC-VariableFont_wght.ttf) format('truetype');
}

body {
  font-family: f_sc, Arial, Helvetica, sans-serif;
}

.header {
  color: #fff;
  font-size: 32px;
  position: fixed;
  top: 0;
  height: 10vh;
  left: 2em;
  right: 2em;
  z-index: 9998;

  .title {
    cursor: pointer;
    font-size: 70px;
    font-weight: normal;
    font-family: f_hyk;
  }
}

.loading-mask {
  position: fixed;
  inset: 0;
  background: var(--bg-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
