@import 'tailwindcss';

:root {
  --bg-color: #0e100f;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.loading-mask {
  position: fixed;
  inset: 0;
  background: var(--bg-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    color: #fff;
    font-size: 466px;
    font-weight: normal;
    font-family: f_hyk;
  }
}
