#scroll-trigger-container {
  position: relative;
  padding: 0 5vw 100vh 5vw;

  .bg-video {
    object-fit: cover;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 80vh;
    width: 100vw;
    z-index: 1;
    opacity: 0;
  }

  .sec {
    z-index: 2;
    font-family: f_qkh;
    font-size: calc(min(50px, 3vw));
    color: #fff;
    position: fixed;
    mix-blend-mode: overlay;
    filter: drop-shadow(2px 4px 6px #292929);
    > * {
      opacity: 0;
    }
  }

  .sec-1 {
    top: 20vh;
    left: 10vw;
  }

  .sec-2 {
    bottom: 30vh;
    right: 15vw;
  }

  .sec-3 {
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
  }
}

.gallery-container {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: 0;
  opacity: 0;
  display: flex;
}
