@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: 'f_hyk';
  src: url(/font/Hangyaku.ttf) format('truetype');
}

@font-face {
  font-family: 'f_qkh';
  src: url(/font/ZCOOLQingKeHuangYou-Regular.ttf) format('truetype');
}

body {
  height: 100vh;
  background: var(--bg-color);
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  transition: 0ms !important;
}

#scroll-trigger-container {
  position: relative;
  padding: 0 5vw 100vh 5vw;

  .header {
    color: #fff;
    font-size: 32px;
    position: fixed;
    top: 0;
    height: 10vh;
    left: 2em;
    right: 2em;

    .title {
      font-size: 70px;
      font-weight: normal;
      font-family: f_hyk;
    }
  }

  .bg-video {
    object-fit: cover;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 80vh;
    width: 100vw;
    z-index: -1;
    opacity: 0;
  }

  .sec {
    font-family: f_qkh;
    font-size: 50px;
    color: #fff;
    position: fixed;
    mix-blend-mode: overlay;
    filter: drop-shadow(2px 4px 6px #292929);
    > * {
      opacity: 0;
    }
  }

  .sec-1 {
    top: 20vh;
    left: 15vw;
  }

  .sec-2 {
    top: 55vh;
    right: 15vw;
  }

  .sec-3 {
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%);
  }
}
