.page-404 {
  background: var(--bg-color);
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;

  #message {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 90%;
    height: 90%;
  }

  #m1 {
    font-size: 35px;
    font-weight: 600;
    margin: 1%;
  }

  #m2 {
    font-size: 80px;
    font-weight: 700;
    margin: 1%;
  }

  #m3 {
    font-size: 15px;
    width: 50%;
    min-width: 40%;
    text-align: center;
    margin: 1%;
  }

  #m4 {
    font-size: 15px;
    width: 50%;
    min-width: 40%;
    text-align: center;
    margin: 1%;
  }

  #charactersDiv {
    position: absolute;
    width: 99%;
    height: 95%;
    overflow: hidden;
  }

  .characters {
    width: 18%;
    height: 18%;
    position: absolute;
  }
}
