@import 'tailwindcss';

@font-face {
  font-family: 'f_hyk';
  src: url(/font/Hangyaku.ttf) format('truetype');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD; /* 基本拉丁字符范围 */
  font-display: swap;
}

@font-face {
  font-family: 'f_qkh';
  src: url(/font/ZCOOLQingKeHuangYou-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'f_sc';
  src: url(/font/NotoSerifSC-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'f_zmx';
  src: url(/font/ZhiMangXing-Regular.ttf) format('truetype');
}

:root {
  --g: 1.618;
  --bg-color: #0e100f;
}

body {
  font-family: f_sc, Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: var(--bg-color);
  }

  body::-webkit-scrollbar {
    width: 0;
  }

  body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    transition: 0ms !important;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: f_hyk, f_sc;
  }

  h1 {
    font-size: calc(var(--g) * 6cqw);
    font-weight: 999;
  }

  h2 {
    font-size: calc(var(--g) * 6cqw);
    font-weight: 800;
  }

  h3 {
    font-size: calc(var(--g) * 3cqw);
    font-weight: 700;
  }

  article {
    container-type: size;
    .emp::first-letter {
      initial-letter: 2.5;
    }
    p {
      font-feature-settings:
        'halt' 1,
        'kern' 1;
      font-size: calc(var(--g) * 1.618cqw);
      line-height: var(--g);
      margin: 1em 0;
    }

    img {
      float: right;
      width: 50cqw;
      object-fit: cover;
      margin-left: 0.25em;
    }
  }
}

.header {
  color: #fff;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(clamp(6.2vw, 6.2vw, 10vh));
  padding: 0 2vw;
  z-index: 9998;
  transition: all 0.2s ease-in-out;
  will-change: backdrop-filter;
  mix-blend-mode: exclusion;
  &:hover {
    /* backdrop-filter: blur(4px); */
    /* background-color: #0e100f; */
  }
  .header-content {
    height: 100%;
    container-type: size;
    z-index: 2;
    .title {
      cursor: pointer;
      font-size: 75cqh;
      line-height: 1;
      font-weight: normal;
      font-family: f_hyk;
    }

    .where-to-go {
      height: 75%;
      transform-style: preserve-3d;
      perspective: 1200px;
      aspect-ratio: 1;
      position: relative;

      #ticket {
        transition: transform 1s ease-in-out;
        &:hover {
          transform: rotateY(360deg);
        }
      }
      #plane {
        color: transparent;
        transform-style: preserve-3d;
      }

      svg {
        position: absolute;
        inset: 0;
      }
    }
  }
}

.where-to-go-dialog {
  position: fixed;
  top: -100vh;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  z-index: 9996;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  overflow: hidden;

  &::after {
    content: 'WHERE TO GO';
    font-family: f_hyk;
    color: #fff;
    font-size: 10vh;
    position: absolute;
    bottom: 0;
    right: 40px;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .photo-list {
    height: 60vh;
    display: flex;
    overflow: hidden;

    .photo-item {
      height: 100%;
      aspect-ratio: 1/1.62;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      > * {
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.13);
          filter: grayscale(0) blur(0px);
        }
        .photo-title {
          color: black;
        }
      }
      img {
        will-change: filter;
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(1) blur(8px);
      }

      .photo-title {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 9vh;
        font-family: 'f_zmx';
        writing-mode: vertical-lr;
        mix-blend-mode: screen;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  left: 2em;
  right: 2em;
  z-index: 9998;
}

.loading-mask {
  position: fixed;
  inset: 0;
  background: var(--bg-color);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    aspect-ratio: 4;
    width: 50vw;
  }
}

.shy-block {
  mix-blend-mode: difference;
  background: #fff !important;
  color: #fff !important;
  &:hover {
    color: #000 !important;
  }
}
