@import 'tailwindcss';

@font-face {
  font-family: 'f_hyk';
  src: url(/font/Hangyaku.ttf) format('truetype');
}

@font-face {
  font-family: 'f_qkh';
  src: url(/font/ZCOOLQingKeHuangYou-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'f_sc';
  src: url(/font/NotoSerifSC-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'f_zmx';
  src: url(/font/ZhiMangXing-Regular.ttf) format('truetype');
}

:root {
  --bg-color: #0e100f;
}

body {
  font-family: f_sc, Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: var(--bg-color);
  }

  body::-webkit-scrollbar {
    width: 0;
  }

  body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    transition: 0ms !important;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}

.header {
  color: #fff;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  padding: 0 2em;
  z-index: 9998;
  .header-content {
    height: 100%;
    container-type: size;
    z-index: 2;
    .title {
      cursor: pointer;
      font-size: 75cqh;
      line-height: 1;
      font-weight: normal;
      font-family: f_hyk;
    }

    .where-to-go {
      height: 75%;
      transform-style: preserve-3d;
      perspective: 1200px;
      aspect-ratio: 1;
      position: relative;

      #ticket {
        transition: transform 1s ease-in-out;
        &:hover {
          transform: rotateY(360deg);
        }
      }
      #plane {
        color: transparent;
        transform-style: preserve-3d;
      }

      svg {
        position: absolute;
        inset: 0;
      }
    }
  }
}

.where-to-go-dialog {
  position: fixed;
  top: -100vh;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  z-index: 9996;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;

  &::after {
    content: 'WHERE TO GO';
    font-family: f_hyk;
    color: #fff;
    font-size: 10vh;
    position: absolute;
    bottom: 0;
    right: 40px;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .photo-list {
    height: 60vh;

    padding: 0 2vw;

    .photo-item {
      height: 80%;
      img {
        height: 100%;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  left: 2em;
  right: 2em;
  z-index: 9998;
}

.loading-mask {
  position: fixed;
  inset: 0;
  background: var(--bg-color);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    aspect-ratio: 4;
    width: 50vw;
  }
}
